<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Se il file o la directory esistono, servili direttamente
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # Altrimenti riscrivi verso index.php
    RewriteRule ^ index.php [L]
</IfModule>
